/* body{
    margin:0;
    padding: 0;
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d07a7a;
} */

.heart{
    
    margin-left: 6em;
    width: 70px;
    height: 70px;
    background: rgb(154, 54, 54);
    position: relative;
    transform: rotate(-45deg);
    box-shadow: -10px 10px 90px rgb(229, 33, 33);
    animation: heart .6s linear infinite ;
   
}

@keyframes heart {
    0%{
        transform: rotate(-45deg) scale(1.07);
    }
    80%{
        transform: rotate(-45deg) scale(1.0);
    }
    100%{
        transform: rotate(-45deg) scale(.8);
    }
    
}

.heart:before{
    content: '';
    position: absolute;
    height: 70px;
    width: 70px;
    background: rgb(154, 54, 54);
    top: -50%; 
    border-radius: 50px;
    box-shadow: -10px 10px 90px rgb(154, 54, 54);
   

}

.heart:after{
    content: '';
    position: absolute;
    height: 70px;
    width: 70px;
    background: rgb(154, 54, 54);
    right: -50%; 
    border-radius: 50px;
    box-shadow: -10px 10px 90px rgb(154, 54, 54);
   

}

h1{
    color: rgb(154, 54, 54);
    text-align: center;
    margin-bottom: 2em;
}